page-home {
    .player {
        background-color: #222;
        color: white
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }

    button {
        width: 75%;
    }

    .button {
        height: 2.2em;
    }

    .button-inner {
        font-size: 8px;
    }

}
