<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center>
      YuGiOh!Counter
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" padding>
  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input id="j1" class="player" text-center [(ngModel)]="Joueur1.name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input id="j2" class="player" text-center [(ngModel)]="Joueur2.name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-center>
            <button ion-button color="danger" (click)="selectPlayer(Joueur1)">{{Joueur1.LP}}</button>
          </div>
          <div text-center style="height: 20px">
            <ion-icon *ngIf="selectedPlayer==1" name="checkmark-circle-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <button ion-button color="danger" (click)="selectPlayer(Joueur2)">{{Joueur2.LP}}</button>
          </div>
          <div text-center style="height: 20px">
            <ion-icon *ngIf="selectedPlayer==2" name="checkmark-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-center>
            <button ion-button color="grey" (click)="changeLP()" [disabled]="!this.selectedPlayer">{{sign}} for {{damage}}</button>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <button ion-button color="grey" (click)="resetDMG()" [disabled]="this.damage == 0">Reset selected value</button>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let damage of numbers">
          <div text-center>
            <button ion-button color="primary" (click)="addDamage(damage)">{{damage}}</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let zero of zeros">
          <div text-center>
            <button ion-button color="primary" (click)="multiplyDamage(zero)">{{zero}}</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-center>
            <button ion-button color="currentColor" (click)="changeSign()">CURRENT MODE: {{sign}}</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <button ion-button color="danger" style="width: 100%;" (click)="reset()">RESET</button>
  </ion-card>
</ion-content>